body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}
h1 {
    padding-left: 20%;
    color: black;
}
h2{
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 5px white,
    0 0 25px white,
    0 0 50px white,
    0 0 100px white;
    font-size: 80px;
}
header {
    display: flex;
    text-align: center;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
    align-items: center;
    gap: 20px;
    overflow: hidden;

}
a{
    text-decoration: none;
    color: black;
}
.nav_item:hover{
    text-decoration: underline;
    
}
.nav_item{
    display: inline-block;
    padding: 10px;
}
li{
    list-style: none;
}

.container{ 
    display: grid;
    background: url(img/inicio.jpg) center;
    background-size: cover;
    height: 80vh;

}
.inicio{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: large;

}

footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: small;
    width: 100%;
    height: 10px;
}
i{
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 15px;
}
.texto{
    text-transform: uppercase;
    text-shadow: 0 0 5px white,
    0 0 20px white,
    0 0 30px white,
    0 0 60px white;
    font-size: 60px;
}

.obtener{
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(50, 107, 107);
    text-transform: uppercase;
    font-size: xx-large;
    text-align: center;
}
.obtener:hover{
    background-color: rgb(47, 101, 101);
}
.obtener:active{
    background-color: rgb(43, 92, 92);
}

/*obtener.html*/
.container_obtener{ 
    display: flex;
    grid-template-columns: 1fr;
    background: url(img/obtener.jpg) center;
    background-size: cover;
    height: 80vh;
    justify-content: center;
}
.inicio_obtener{
    width: 300px;
    margin-top: 150px;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.input-group input {
    background-color: rgba(53, 53, 54, 0.8);
    padding: 20px;
    border: none;
    margin-left: 30PX;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 100px;
    font-size: xx-large;
    color: white;
}
.input-group input:last-child {
    margin-bottom: 0; /* Para eliminar el margen inferior del último input en cada grupo */
}
.input-group input:invalid {
    border: 2px solid red;
}

/* Texto de aviso para campos obligatorios */
.requerido-texto {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}
/* Estilo para el botón de envío */
.formulario button[type="submit"] {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor apuntando */
    transition: background-color 0.3s; /* Transición suave de color de fondo */
    font-size: x-large;
    
}

/* Cambio de estilo al pasar el ratón por encima */
.formulario button[type="submit"]:hover {
    background-color: #45a049; /* Color de fondo verde oscuro */
}

/* Media Query para pantallas de hasta 768px de ancho (tabletas) */
@media screen and (max-width: 768px) {
    header {
        text-align: center; /* Centra el texto en tabletas */
    }

    nav {
        text-align: center; /* Centra los enlaces en tabletas */
    }

    section {
        flex-direction: column; /* Cambia a disposición de columna en tabletas */
    }
}

/* Media Query para pantallas de hasta 576px de ancho (celulares) */
@media screen and (max-width: 576px) {

    .container{ 
        display: grid;
        grid-template-columns: 1fr ;
    }

}

/* Media Query para pantallas de PC */
@media screen and (min-width: 769px) {
    /* Aquí podrías agregar estilos específicos para pantallas de PC si es necesario */
    
}
